<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SSGraphics.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>graphics.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE0691F31CB31DEB003C9F24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE1ED9A01BFD273700ED7968</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE1ED9BC1BFD2A8100ED7968</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE9B5F9E1C7BBA2700A3542C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEFCD84A1CB54F9A00D15916</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEFDCFD818364D2400B941E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEFDCFEF18364D2400B941E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEFDD034183656B400B941E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEFDD042183656B400B941E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
